.nav_bar {
    background-color: rebeccapurple;
   padding-bottom: 0.1px;
}
.nav_bar ul {
    display: flex;
    justify-content: center;
   
}
.nav_bar ul li {
    margin: 20px;
    list-style: none;
}

.nav_bar ul li a {
    color: white;
    text-decoration: none;
}
.images{
    width: 100%;
    height: 300px;
}
.paragrap{
    text-align: justify;
}
.heading{
    color: rgb(38, 197, 86);
    text-align: center;
}