.nav_bar {
    background-color: rebeccapurple;
}
.nav_bar ul {
    display: flex;
    justify-content: center;
}
.nav_bar ul li {
    margin: 20px;
    list-style: none;
}

.nav_bar ul li a {
    color: white;
    text-decoration: none;
}